main {
  text-align: center;
  margin-top: 5rem;
  padding: 0 3rem;
}

/* Bigger heading */
h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

/* Bigger logo */
header .logo img {
  width: 380px;
  height: auto;
}

/* Search bar */
.search {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.search input {
  padding: 16px 20px;
  font-size: 1.2rem;
  border-radius: 30px;
  border: 2px solid #2d2d2d;
}

.search-icon {
  width: 28px;
  height: 28px;
}

/* Larger menu button */
.menu-bt
